.containerDiv{
      margin-left:40px;
}
.uprDiv{margin-left:40px;}
.head{
      color:rgb(77,83,100) ;
}
.para{
      color:rgb(77,83,100);
      font-size: 22px;
}
.links{
      font-size:16px;
      font-weight: bold;
}
.lowTab{
      margin-left: 200px;
}
.img{
      margin-left:200px;
}