.container {
      margin-top:  20px;
      padding-left: 30px;
      padding-right: 30px;
	display: flex;
	justify-content: space-around;
      padding: 100px 16% 96px;
}
div>h3{
      text-align: left;
      margin-bottom: 40px;
    color: #4c4d5f;
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: .12px;
    text-transform: uppercase;
}
div > li {
	list-style: none;
	text-align: left;
	margin-bottom: 1px;
	color: #4c4d5f;
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.11px;
	/* text-decoration: none; */
}
